<nav class="navbar navbar-default navbar-transparent navbar-fixed-top" role="navigation">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
              </button>
              <a id="timLink" href="http://www.creative-tim.com">
                   <div class="logo-container">
                        <div class="logo">
                            <img src="assets/img/new_logo.png" alt="Creative Tim Logo">
                        </div>
                        <div class="brand">
                            Creative Tim
                        </div>
                    </div>
              </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" data-nav-image="assets/img/bg4.jpg">
              <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                          <a href="#" class="dropdown-toggle btn btn-simple btn-neutral" data-toggle="dropdown">
                            Live Examples
                            <b class="caret"></b>
                          </a>
                           <ul class="dropdown-menu dropdown-with-icons">
                             <li>
                                <a href="/components">
                                    <i class="pe-7s-display2"></i> All Components
                                </a>
                            </li>
                            <li>
                                <a href="/home">
                                    <i class="pe-7s-home"></i> Home
                                </a>
                            </li>
                            <li>
                                <a href="/blog-page">
                                    <i class="pe-7s-comment"></i> Blog
                                </a>
                            </li>
                            <li>
                                <a href="/blog-post">
                                    <i class="pe-7s-news-paper"></i> Blog Post
                                </a>
                            </li>
                            <li>
                            </li><li>
                                <a href="/ecommerce">
                                    <i class="pe-7s-ticket"></i> Ecommerce
                                </a>
                            </li>
                            <li>
                                <a href="/product-page">
                                    <i class="pe-7s-piggy"></i> Product Page
                                </a>
                            </li>
                            <li>
                                <a href="/contact-us">
                                    <i class="pe-7s-mail-open-file"></i> Contact Us
                                </a>
                            </li>
                            <li>
                                <a href="/about-us">
                                    <i class="pe-7s-info"></i> About Us
                                </a>
                            </li>
                            <li>
                                <a href="/pricing">
                                    <i class="pe-7s-cash"></i> Pricing Page
                                </a>
                            </li>
                            <li>
                                <a href="/sidebar">
                                    <i class="pe-7s-menu"></i> Sidebar Menu
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="pe-7s-gift"></i> More (soon)
                                </a>
                            </li>
                          </ul>
                    </li>
                    <li>
                        <a id="freeKitLink" target="_blank" href="http://www.creative-tim.com/get-shit-done" class="btn btn-simple btn-neutral">
                             Get Free Demo
                        </a>
                    </li>
                    <li>
                        <button onclick="window.location.href='http://www.creative-tim.com/buy/get-shit-done-pro'" id="buyButton" class="btn btn-round btn-warning btn-fill">Buy Now</button>
                    </li>
               </ul>

            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
